header {
  display: flex;
  justify-content: space-around;
  margin: 2rem auto;
  border-bottom: 1px purple solid;
}

.Logo > div {
  display: inline;
  height: 2rem;
  width: 2rem;
}

.Logo span {
  letter-spacing: 0.1rem;
  margin-left: 0.2rem;
  font-size: 1.5rem;
}
