header {
  height: 15vh;
  display: flex;
  justify-content: space-around;
  margin: 2rem auto 1rem;
  /* border-bottom: 1px purple solid; */
}
.Logo {
  margin-top: 1.2rem;
  flex-basis: 25%;
}
.Logo div {
  display: inline;
  height: 2rem;
  width: 2rem;
  font-size: 2rem;
}

.Logo span {
  letter-spacing: 0.1rem;
  margin-left: 0.2rem;
  font-size: 2rem;
}
