header {
  /* position: sticky;
  top: -50px; */
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* padding: 1rem 1rem; */
  height: 15vh;
  background-color: black;
}
.Logo {
  margin-top: 1.2rem;
  flex-basis: 40%;
}
.Logo div {
  display: inline;
  height: 2rem;
  width: 2rem;
  font-size: 2rem;
}
.rotating {
  /* transform: rotate(90deg); */
  animation-name: rotate;
  animation-duration: 0.4s;
}
@keyframes rotate {
  from {
    transform: rotate(45deg);
  }
  30% {
    transform: rotate(90deg);
  }
  60% {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.Logo span {
  letter-spacing: 0.1rem;
  margin-left: 0.4rem;
  font-size: 2.2rem;
}
