.InterestsContainer {
  width: 70%;
  margin: 0 auto;
}
.InterestsContainer h4 {
  margin: 0 auto;
}
.InterestsContainer ul {
  margin: 0 auto;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  justify-items: center;
  align-content: center;
  align-items: center;
}
.InterestsContainer ul li {
  padding: 2rem;
  width: 80px;
  height: 80px;
  text-align: center;
  text-transform: capitalize;
  background-color: #ffee00;
  color: slateblue;
  font-size: 4rem;
  font-weight: 700;
  border-radius: 2px;
  box-shadow: 4px 4px #aea30c;
}

.InterestsContainer ul li.text {
  font-size: 1.4rem;
  display: flex;
  color: rgb(72, 55, 185);
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .InterestsContainer {
    width: 100%;
    margin: 0 auto;
  }
  .InterestsContainer ul {
    width: 100%;
    justify-content: space-between;
    margin: 2rem auto;
  }
  .InterestsContainer ul li {
    padding: 1.5rem;
    width: 40px;
    height: 40px;
    font-size: 3rem;
  }
  .InterestsContainer ul li.text {
    font-size: 1em;
  }
}
