.Intro {
  height: 85vh;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  justify-items: center;
}

.Intro-info {
  flex-basis: 35%;
  background: linear-gradient(220deg, #1662ad, #00356b);
  padding: 4rem 2rem;
  text-align: left;
  margin: 3rem;
  border-radius: 4px;
}
.Intro-info p {
  letter-spacing: 0.15rem;
  color: whitesmoke;
  font-size: 1.5rem;
  font-weight: 500;
}
.Intro-photo {
  flex-basis: 40%;
  margin: 2rem 1rem;
}
.Intro-photo img {
  width: 90%;
}

@media screen and (max-width: 640px) {
  .Intro {
    height: 100%;
    flex-direction: column;
  }
  .Intro-photo img {
    max-width: 100%;
    width: 100%;
  }
}
