nav {
  flex-basis: 35%;
  padding: 0.5rem 1rem;
  margin: 0 2rem;
  /* position: sticky;
  top: 0; */
}
ul.Navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
a {
  list-style: none;
}
nav ul a {
  /* list-style: none; */
  flex-basis: 33%;
  text-decoration: none;
  letter-spacing: 0.1rem;
}

nav ul a li {
  font-size: 1.4rem;
  padding: 0.1rem 0.5rem;
  color: whitesmoke;
  font-weight: 500;
}

nav ul a li:hover {
  box-shadow: 0 2px 0px -1px white;
}

@media screen and (max-width: 660px) {
}
