.Projects {
  width: 95%;
  margin: 0 auto;
}
.Projects h2 {
  margin-bottom: 2rem;
  font-size: 3rem;
}
.Projects h3 {
  font-size: 1.8rem;
}
.ProjectList {
  margin: 0 auto 15rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #fbfbf3;
  padding: 6rem;
  column-gap: 2rem;
  row-gap: 8rem;
  justify-items: flex-start;
}
@media screen and (max-width: 1200px) {
  .Projects {
    width: 96%;
    margin: 0 auto;
    padding: 0 0 3rem;
  }
  .ProjectList {
    grid-template-columns: 1fr 1fr;
    padding: 3rem 2rem;
    row-gap: 5rem;
  }

  @media screen and (max-width: 640px) {
    .Projects {
      width: 90%;
    }
    .ProjectList {
      grid-template-columns: 1fr;
      row-gap: 6rem;
    }
  }
}
