.Project {
  background-color: pink;
  border-radius: 5px;
  padding-bottom: 1rem;
  justify-self: center;
  width: 80%;
  box-shadow: -1px -1px 6px grey;
}
.Project:hover {
  box-shadow: -3px -3px 6px grey;
}
.Project:active {
  box-shadow: -4px -4px 6px 3px grey;
}
.Project-Image {
  width: 50%;
}
img {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

img.tech {
  width: 1.4rem;
}

.Project-details {
  padding: 1rem 2rem;
}
.Project .Tech-stack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Project .Tech-stack p {
  padding-right: 0.5rem;
}
.Project .Tech-stack p i {
  padding-right: 0.5rem;
  font-size: 1.7rem;
}
.Project footer {
  bottom: 0;
}
.Project-demo-link p:active {
  box-shadow: 1px 1px 2px 1px grey;
}
.Project-demo-link p {
  width: fit-content;
  margin: 0 auto;
  padding: 0.8rem;
  border-radius: 30px;
  color: white;
  border: 1px solid black;
  background-color: grey;
}

.Project-demo-link {
  color: white;
  text-decoration: none;
}
a:visited {
  color: initial;
}

@media screen and (max-width: 800px) {
  .Project {
    width: 90%;
  }
  .Project:hover {
    width: 90.5%;
  }
}
