.Projects {
  width: 90%;
  margin: 1rem auto;
  padding: 1rem 1rem;
}
.Projects h2 {
  margin-bottom: 3rem;
  font-size: 3rem;
}
.Projects h3 {
  font-size: 1.8rem;
}
.ProjectList {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #fbfbf3;
  padding: 6rem;
  row-gap: 8rem;
  justify-items: start;
}
@media screen and (max-width: 1200px) {
  .Projects {
    width: 96%;
    margin: 1rem auto;
    padding: 3rem 0;
  }
  .ProjectList {
    grid-template-columns: 1fr 1fr;
    padding: 3rem 2rem;
    row-gap: 5rem;
  }

  @media screen and (max-width: 640px) {
    .Projects {
      width: 90%;
      margin: 1rem auto;
      padding: 4rem 1rem;
    }
    .ProjectList {
      grid-template-columns: 1fr;
      padding: 2rem;
      row-gap: 6rem;
    }
  }
}
